<h1 mat-dialog-title>
  Regenerate {{data.name}}?
</h1>
<div mat-dialog-content>
  <h4>Format</h4>
  <p class="monospace">
    {{data.format}} - {{data.os}}/{{data.arch}} <br />
  </p>
  <h4>Command and Control</h4>
  <p *ngFor="let c2URL of data.c2URLs" class="monospace">
    {{c2URL}} <br />
  </p>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial color="primary">
      &nbsp;&nbsp;Regenerate&nbsp;&nbsp;
    </button>
    <button mat-button (click)="onNoClick()" color="warn">
      &nbsp;&nbsp;Cancel&nbsp;&nbsp;
    </button>
</div>