<div [@fadeInOut] class="form-container">
  <mat-vertical-stepper [linear]="true" #stepper>

    <mat-step [stepControl]="selectProtocolForm" [completed]="false">
      <form style="width: 100%;" [formGroup]="selectProtocolForm">
        <ng-template matStepLabel>Protocol</ng-template>
        <p>
          <mat-form-field>
            <mat-select [formControl]="selectProtocolForm.controls['protocol']" placeholder="Operating System">
              <mat-option value="mtls">
                mTLS
              </mat-option>
              <mat-option value="http">
                HTTP
              </mat-option>
              <mat-option value="https">
                HTTPS
              </mat-option>
              <mat-option value="dns">
                DNS
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <div>
          <button mat-raised-button matStepperNext>
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl] [completed]="false">

      <form *ngIf="protocol === 'mtls'" [formGroup]="mtlsOptionsForm">
        <ng-template matStepLabel>Mutual TLS</ng-template>
        <p>
          <mat-form-field>
            <input matInput [formControl]="mtlsOptionsForm.controls['lport']" placeholder="Listen Port">
          </mat-form-field>
        </p>
      </form>

      <form *ngIf="protocol === 'http'" [formGroup]="httpOptionsForm">
        <ng-template matStepLabel>HTTP</ng-template>
        <p>
          <mat-form-field>
            <input matInput [formControl]="httpOptionsForm.controls['lport']" placeholder="Listen Port">
          </mat-form-field>
        </p>
      </form>

      <form *ngIf="protocol === 'https'" [formGroup]="httpsOptionsForm">
        <ng-template matStepLabel>HTTPS</ng-template>
        <p>
          <mat-form-field>
            <input matInput [formControl]="httpsOptionsForm.controls['lport']" placeholder="Listen Port">
          </mat-form-field>
        </p>
      </form>

      <form *ngIf="protocol === 'dns'" [formGroup]="dnsOptionsForm">
        <ng-template matStepLabel>DNS</ng-template>
        <p>
          <mat-form-field>
            <input matInput [formControl]="dnsOptionsForm.controls['domains']" placeholder="Domains">
          </mat-form-field>
        </p>
      </form>

      <button mat-raised-button (click)="startListener()">
        <i class="fas fa-fw fa-server"></i>
        &nbsp;
        Start Listener
      </button>

    </mat-step>

  </mat-vertical-stepper>

</div>