<mat-grid-list [@fadeInOut] cols="3" rowHeight="3:1">

  <!-- Row #1 -->
  <mat-grid-tile>
    <button *ngIf="!connecting" mat-button color="primary" (click)="addConfigFile()">
      <i class="fas fa-fw fa-plus"></i>
      Add Config
    </button>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>

  <!-- Row #2 -->
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <div *ngIf="!configs || connecting">
      <mat-progress-spinner mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <div *ngIf="configs && !connecting" class="grid-container">
      <form [formGroup]="selectConfigForm" (ngSubmit)="onSelectedConfig(selectConfigForm.controls['config'].value)">
        <mat-form-field style="width: 100%;">
          <mat-error *ngIf="selectConfigForm.controls['config'].value === ''">
            You must select a configuration.
          </mat-error>
          <mat-error *ngIf="selectConfigForm.controls['config'].hasError('connectionError')">
            {{connectionError}}
          </mat-error>
          <mat-select placeholder="Select a Server" [formControl]="selectConfigForm.controls['config']">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let config of configs" [value]="config">{{ config.lhost }} ({{ config.operator }})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button style="width: 100%;" mat-button [disabled]="selectConfigForm.controls['config'].value === ''"
          type="submit">
          Connect
        </button>
      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>