<div [@fadeInOut] class="form-container">
  <mat-vertical-stepper [linear]="true" #stepper>

    <mat-step [stepControl]="genTargetForm" [completed]="false">
      <form [formGroup]="genTargetForm">
        <ng-template matStepLabel>Executable</ng-template>
        <p>
          <mat-form-field>
            <mat-select [formControl]="genTargetForm.controls['os']" placeholder="Operating System">
              <mat-option value="windows">
                Windows
              </mat-option>
              <mat-option value="darwin">
                MacOS
              </mat-option>
              <mat-option value="linux">
                Linux
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-select [formControl]="genTargetForm.controls['arch']" placeholder="CPU Architecture">
              <mat-option value="amd64">
                64-bit
              </mat-option>
              <mat-option value="386">
                32-bit
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-select [formControl]="genTargetForm.controls['format']" placeholder="File Format">
              <mat-option value="exe">
                Executable
              </mat-option>
              <mat-option [disabled]="genTargetForm.controls['os'].value !== 'windows'" value="shared">
                Shared Library
              </mat-option>
              <mat-option [disabled]="genTargetForm.controls['os'].value !== 'windows'" value="shellcode">
                Shellcode
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <div>
          <button mat-raised-button matStepperNext>
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="genC2Form" [completed]="false">
      <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile>
          <form [formGroup]="genC2Form" style="width: 100%">
            <ng-template matStepLabel>Command & Control</ng-template>
            <p>
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Mutual TLS Endpoints</mat-label>
                <input matInput [formControl]="genC2Form.controls['mtls']" placeholder="mTLS Endpoints">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>HTTP(S) Endpoints</mat-label>
                <input matInput [formControl]="genC2Form.controls['http']" placeholder="HTTP(S) Endpoints">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>DNS Endpoints</mat-label>
                <input matInput [formControl]="genC2Form.controls['dns']" placeholder="DNS Endpoints">
              </mat-form-field>
            </p>
            <div>
              <button mat-raised-button matStepperPrevious>Back</button>
              &nbsp;
              <button [disabled]="isValidC2Config()" mat-raised-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-progress-spinner *ngIf="listeners === undefined" mode="indeterminate">
          </mat-progress-spinner>

          <mat-card *ngIf="listeners !== undefined">
            <mat-card-content *ngIf="listeners.length">
              <h2>Active Listeners</h2>
              <ng-container *ngFor="let listener of listeners">
                <mat-checkbox [(ngModel)]="listener.checked"></mat-checkbox>
                Job #{{listener.job.getId()}} Protocol: {{listener.job.getName()}} LPort: {{listener.job.getPort()}}
                <br />
              </ng-container>
            </mat-card-content>

            <mat-card-content *ngIf="!listeners.length">
              <h2>
                <i class="fas fa-fw fa-times-circle"></i>
                No Active Listeners
              </h2>
            </mat-card-content>

          </mat-card>

        </mat-grid-tile>
      </mat-grid-list>
    </mat-step>


    <mat-step [stepControl]="genC2Form" [completed]="false">

      <form [formGroup]="compileTimeOptionsForm">
        <ng-template matStepLabel>Compile Time Options</ng-template>
        <p>
          <mat-form-field>
            <input matInput [formControl]="compileTimeOptionsForm.controls['reconnect']" placeholder="Reconnect">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput [formControl]="compileTimeOptionsForm.controls['maxErrors']" placeholder="Max Errors">
          </mat-form-field>
        </p>
        <p>
          <mat-slide-toggle color="primary" [formControl]="compileTimeOptionsForm.controls['skipSymbols']">
            Skip Symbol Obfuscation
          </mat-slide-toggle>
        </p>
        <p>
          <mat-slide-toggle color="primary" [formControl]="compileTimeOptionsForm.controls['debug']">
            Debug Mode
          </mat-slide-toggle>
        </p>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          &nbsp;
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>

    </mat-step>

    <mat-step [completed]="false">
        <ng-template matStepLabel>Summary</ng-template>

        <mat-card>

          summary info

        </mat-card>

        <div>
            <button mat-raised-button matStepperPrevious>Back</button>
            &nbsp;
            <button [disabled]="isGenerating" mat-raised-button (click)="onGenerate()">
              <i class="fas fa-fw fa-dragon"></i>
              Generate Implant
            </button>
          </div>
    </mat-step>

  </mat-vertical-stepper>

</div>