<div [@fadeInOut] class="form-container">
  <mat-vertical-stepper [linear]="true" #stepper>

    <mat-step [stepControl]="genTargetForm" [completed]="false">
      <form style="width: 100%;" [formGroup]="genTargetForm">
        <ng-template matStepLabel>Executable</ng-template>
        <p>
          <mat-form-field>
            <mat-select [formControl]="genTargetForm.controls['os']" placeholder="Operating System">
              <mat-option value="windows">
                Windows
              </mat-option>
              <mat-option value="darwin">
                MacOS
              </mat-option>
              <mat-option value="linux">
                Linux
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-select [formControl]="genTargetForm.controls['arch']" placeholder="CPU Architecture">
              <mat-option value="amd64">
                64-bit
              </mat-option>
              <mat-option value="386">
                32-bit
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-select [formControl]="genTargetForm.controls['format']" placeholder="File Format">
              <mat-option value="exe">
                Executable
              </mat-option>
              <mat-option [disabled]="genTargetForm.controls['os'].value !== 'windows'" value="shared">
                Shared Library
              </mat-option>
              <mat-option [disabled]="genTargetForm.controls['os'].value !== 'windows'" value="shellcode">
                Shellcode
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <div>
          <button mat-raised-button matStepperNext>
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="genC2Form" [completed]="false">
      <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
          <form [formGroup]="genC2Form" style="display: inline">
            <ng-template matStepLabel>Command & Control</ng-template>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Mutual TLS Endpoints</mat-label>
                <input matInput [formControl]="genC2Form.controls['mtls']" placeholder="mTLS Endpoints">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>HTTP(S) Endpoints</mat-label>
                <input matInput [formControl]="genC2Form.controls['http']" placeholder="HTTP(S) Endpoints">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>DNS Endpoints</mat-label>
                <input matInput [formControl]="genC2Form.controls['dns']" placeholder="DNS Endpoints">
              </mat-form-field>
            </p>
            <div>
              <button mat-raised-button matStepperPrevious>Back</button>
              &nbsp;
              <button [disabled]="genC2Form.invalid" mat-raised-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-grid-tile>
        <mat-grid-tile>
          foobar
        </mat-grid-tile>
      </mat-grid-list>
    </mat-step>


    <mat-step [stepControl]="genC2Form" [completed]="false">

      <form [formGroup]="compileTimeOptionsForm">
        <ng-template matStepLabel>Compile Time Options</ng-template>
        <p>
          <mat-form-field>
            <input matInput [formControl]="compileTimeOptionsForm.controls['reconnect']" placeholder="Reconnect">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput [formControl]="compileTimeOptionsForm.controls['maxErrors']" placeholder="Max Errors">
          </mat-form-field>
        </p>
        <p>
          <mat-slide-toggle color="primary" [formControl]="compileTimeOptionsForm.controls['skipSymbols']">
            Skip Symbol Obfuscation
          </mat-slide-toggle>
        </p>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          &nbsp;
          <button mat-raised-button (click)="onGenerate()">
            <i class="fas fa-fw fa-dragon"></i>
            &nbsp;
            Compile
          </button>
        </div>
      </form>

    </mat-step>

  </mat-vertical-stepper>

</div>