/server/assets/fs/**.zip

/*.sdk.tar.xz

/sliver-server
/sliver-server.exe

/sliver-client
/sliver-client.exe

/.vscode/
/.vscode/*

/.github/
/.github/*

/build.py
/LICENSE
/SECURITY.md
/README.md
/CONTRIBUTING.md
