<mat-toolbar class="app-toolbar" color="primary" style="-webkit-app-region: drag">
  <span style="width: 60px;"></span>
  
  <div *ngIf="isConnected">
    <button mat-button style="-webkit-app-region: no-drag" [routerLink]="['/home']">
      <i class="fas fa-fw fa-home"></i>
      <ng-container i18n>
        Home
      </ng-container>
    </button>

    <button style="-webkit-app-region: no-drag" mat-button [matMenuTriggerFor]="generate">
      <i class="fas fa-fw fa-tractor"></i>
      <ng-container i18n>
        Generate
      </ng-container>
    </button>
    <mat-menu style="-webkit-app-region: no-drag" #generate="matMenu">
      <button mat-menu-item [routerLink]="['/generate/new-implant']">
        <i class="fas fa-fw fa-plus"></i>
        <ng-container i18n>
          New Implant
        </ng-container>
      </button>
      <button mat-menu-item [routerLink]="['/generate/canaries']">
        <i class="fas fa-fw fa-crow"></i>
        <ng-container i18n>
          Canaries
        </ng-container>
      </button>
      <button mat-menu-item [routerLink]="['/generate/history']">
        <i class="fas fa-fw fa-calendar-alt"></i>
        <ng-container i18n>
          History
        </ng-container>
      </button>
    </mat-menu>

    <button style="-webkit-app-region: no-drag" mat-button [routerLink]="['/sessions']">
      <i class="fas fa-fw fa-project-diagram"></i>
      <ng-container i18n>
        Sessions
      </ng-container>
    </button>

    <button style="-webkit-app-region: no-drag" mat-button [matMenuTriggerFor]="jobs">
      <i class="fas fa-fw fa-flask"></i>
      <ng-container i18n>
        Jobs
      </ng-container>
    </button>
    <mat-menu style="-webkit-app-region: no-drag" #jobs="matMenu">
      <button mat-menu-item [routerLink]="['/jobs/new']">
        <i class="fas fa-fw fa-plus"></i>
        Start Listener
      </button>
      <button mat-menu-item [routerLink]="['/jobs']">
        <i class="fas fa-fw fa-flask"></i>
        Current Jobs
      </button>
    </mat-menu>

    <button style="-webkit-app-region: no-drag" mat-button [routerLink]="['/scripting/editor']">
      <i class="fas fa-fw fa-code"></i>
      Scripting
    </button>
  </div>
  <span class="pull-right-spacer"></span>

  <span *ngIf="isConnected && activeConfig">
    <h4 class="mat-h4">
      <i class="fas fa-fw fa-spin fa-circle-notch"></i>
      {{activeConfig.lhost}}
      &nbsp;
    </h4>
  </span>

  <button style="-webkit-app-region: no-drag" mat-button [matMenuTriggerFor]="settings">
    <i class="fas fa-ellipsis-v"></i>
  </button>
  <mat-menu style="-webkit-app-region: no-drag" #settings="matMenu">
    <button mat-menu-item [routerLink]="['/settings']">
      <i class="fas fa-fw fa-cogs"></i>
      &nbsp;Settings
    </button>
    <button mat-menu-item (click)="onExit()">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      &nbsp;Exit
    </button>
  </mat-menu>

</mat-toolbar>