.pull-right-spacer {
    flex: 1 1 auto;
}

.not-connected-topbar {
    border-top: 64px solid #3f51b5; 
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}