<div class="grid-wrapper">
  <div>
    <mat-toolbar>

      <button mat-raised-button class="toolbar-button" (click)="executeScript()">
        <i class="fas fa-fw fa-folder-plus"></i>
        Execute Script
      </button>

      <button mat-raised-button class="toolbar-button">
        <i class="fas fa-fw fa-bug"></i>
        Enable Devtools
      </button>

    </mat-toolbar>
  </div>
  <div>
    <ngx-monaco-editor style="height: 600px" [options]="editorOptions" [(ngModel)]="code">
    </ngx-monaco-editor>
  </div>
</div>