<div *ngIf="!dataSrc" class="grid-spinner-wrapper">
  <div class="spinner">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>
  </div>
</div>

<div [@fadeInOut] *ngIf="dataSrc">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSrc" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="sliverName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sliver Name</th>
      <td mat-cell *matCellDef="let canary"> {{ canary.sliverName }} </td>
    </ng-container>

    <ng-container matColumnDef="domain">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Domain</th>
      <td mat-cell *matCellDef="let canary">
        <span class="monospace">{{canary.domain}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="triggered">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Triggered</th>
      <td mat-cell *matCellDef="let canary">
        {{ canary.triggered }}
        <span *ngIf="canary.triggered"> 🔥 </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="firstTriggered">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Triggered</th>
      <td mat-cell *matCellDef="let canary">
        {{ canary.firstTriggered }}
        <span *ngIf="!canary.firstTriggered">N/A</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="latestTrigger">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Latest Trigger</th>
      <td mat-cell *matCellDef="let canary">
        {{ canary.latestTrigger }}
        <span *ngIf="!canary.latestTrigger">N/A</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>