name: Release

on:
  push:
    tags: v[1-9]+.[0-9]+.[0-9]+
    branches: master

jobs:

  linux-windows-build:
    name: Linux & Windows Build
    if: startsWith( github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:

    - name: Go 1.15
      uses: actions/setup-go@v1
      with:
        go-version: 1.15
      id: go
    
    - name: OS Packages 
      run: |
        sudo apt-get update --fix-missing && sudo apt-get -y install \
        git build-essential zlib1g zlib1g-dev wget zip unzip \
        mingw-w64 binutils-mingw-w64 g++-mingw-w64

    - name: Protoc
      env:
        PROTOC_VER: 3.11.4
      run: |
        wget -O protoc-${PROTOC_VER}-linux-x86_64.zip https://github.com/protocolbuffers/protobuf/releases/download/v${PROTOC_VER}/protoc-${PROTOC_VER}-linux-x86_64.zip \
        && unzip protoc-${PROTOC_VER}-linux-x86_64.zip \
        && sudo cp -vv ./bin/protoc /usr/local/bin/protoc

    - name: Protoc-gen-go
      env:
        PROTOC_GEN_GO_VER: 1.3.5
      run: |
        wget -O protoc-gen-go.tar.gz https://github.com/golang/protobuf/archive/v${PROTOC_GEN_GO_VER}.tar.gz \
        && tar xvf protoc-gen-go.tar.gz \
        && cd protobuf-${PROTOC_GEN_GO_VER} \
        && make install

    - name: Packr
      run: go get -u github.com/gobuffalo/packr/packr

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Go Assets
      run: ./go-assets.sh

    - name: Make
      run: export PATH=/home/runner/go/bin/:$PATH && make static-linux
  
    - name: Linux Client Artifact
      uses: actions/upload-artifact@v2
      with:
        name: linux
        path: |
          ./sliver-client
          ./sliver-server

    - name: Make Windows
      run: export PATH=/home/runner/go/bin/:$PATH && make static-windows

    - name: Windows Client Artifact
      uses: actions/upload-artifact@v2
      with:
        name: windows
        path: |
          ./sliver-client.exe
          ./sliver-server.exe

  macos-build:
    name: MacOS Build
    if: startsWith( github.ref, 'refs/tags/v')
    runs-on: macos-latest
    steps:

    - name: Go 1.15
      uses: actions/setup-go@v1
      with:
        go-version: 1.15
      id: go

    - name: Mingw
      run: brew install mingw-w64

    - name: Protoc
      env:
        PROTOC_VER: 3.11.4
      run: |
        wget -O protoc-${PROTOC_VER}-osx-x86_64.zip https://github.com/protocolbuffers/protobuf/releases/download/v${PROTOC_VER}/protoc-${PROTOC_VER}-osx-x86_64.zip \
        && unzip protoc-${PROTOC_VER}-osx-x86_64.zip \
        && sudo cp -vv ./bin/protoc /usr/local/bin/protoc

    - name: Protoc-gen-go
      env:
        PROTOC_GEN_GO_VER: 1.3.5
      run: |
        wget -O protoc-gen-go.tar.gz https://github.com/golang/protobuf/archive/v${PROTOC_GEN_GO_VER}.tar.gz \
        && tar xvf protoc-gen-go.tar.gz \
        && cd protobuf-${PROTOC_GEN_GO_VER} \
        && make install

    - name: Packr
      run: go get -u github.com/gobuffalo/packr/packr

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Go Assets
      run: ./go-assets.sh

    - name: Make
      run: export PATH=/Users/runner/go/bin/:$PATH && make static-macos
    
    - name: MacOS Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: macos
        path: |
         ./sliver-client
         ./sliver-server


  tagged-release:

    needs: [linux-windows-build, macos-build]

    name: "Tagged Release"
    if: startsWith( github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest

    steps:
    - run: mkdir -p ./release && mkdir -p ./artifacts
    - uses: actions/download-artifact@v2
      with:
        path: ./artifacts

    - run: ls -lah ./artifacts

    # Linux
    - name: Package Linux
      run: |
        zip ./release/sliver-server_linux.zip ./artifacts/linux/sliver-server
        zip ./release/sliver-client_linux.zip ./artifacts/sliver-client

    # Windows
    - name: Package Windows
      run: |
        zip ./release/sliver-server_windows.zip ./artifacts/windows/sliver-server.exe
        zip ./release/sliver-client_windows.zip ./artifacts/windows/sliver-client.exe

    # MacOS
    - name: Package MacOS
      run: |
        zip ./release/sliver-server_macos.zip ./artifacts/macos/sliver-server
        zip ./release/sliver-client_macos.zip ./artifacts/macos/sliver-client
  
    - name: "Publish Release"
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        files: |
          ./release/*.zip
