name: Build & Test
on:
  pull_request:
    branches:
      - master
    paths:
      - "go.mod"
      - "go.sum"
      - "Makefile"
      - "**/*.go"
      - "**/*.c"
      - "**/*.h"
      - "**/*.sh"
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  linux-windows-build-test:
    name: Linux & Windows Test
    runs-on: ubuntu-latest
    timeout-minutes: 180
    steps:
      - name: Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: "^1.25"

      - name: OS Packages
        run: |
          sudo apt-get update --fix-missing && sudo apt-get -y install \
          git build-essential zlib1g zlib1g-dev wget zip unzip

      - name: Check Out Code
        uses: actions/checkout@v6

      - name: Git Fetch Tags
        run: git fetch --prune --unshallow --tags -f

      - name: Make Windows (amd64)
        run: make windows-amd64

      - name: Make Linux (arm64)
        run: make linux-arm64

      - name: Make Linux (amd64)
        run: make linux-amd64

      - name: Test Linux
        run: make clean && make && ./sliver-server unpack --force && ./go-tests.sh


  macos-build-test:
    name: MacOS Test
    runs-on: macos-latest
    timeout-minutes: 180
    steps:
      - name: Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: "^1.25"

      - name: Check Out Code
        uses: actions/checkout@v6

      - name: Git Fetch Tags
        run: git fetch --prune --unshallow --tags -f

      - name: Make MacOS (amd64)
        run: make macos-amd64

      - name: Make MacOS (arm64)
        run: make macos-arm64

      - name: Test MacOS
        run: make clean && make && ./sliver-server unpack --force && ./go-tests.sh

  clients-build:
    name: Clients Build
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: "^1.25"

      - name: Check Out Code
        uses: actions/checkout@v6

      - name: Git Fetch Tags
        run: git fetch --prune --unshallow --tags -f

      - name: Make
        run: make clients
